{% extends "base.html" %}
{% load static %}
{% block locations %}
<li class="breadcrumb-item"><a href="{% url 'tools' %}">Tools</a></li>
<li class="breadcrumb-item active" aria-current="page">Extract frames from log file</li>
{% endblock %}
{% block container %}
<style>
   .hidden {
   display: none;
   }
</style>
<div class="container-fluid mt--6 d-flex-block">
   <div class="row align-items-center">
      <div class="col-xl-12">
         <div class="card">
            <div class="card-header">
               <div class="row align-items-center">
                  <div class="col-8">
                     <!-- <h3 class="mb-0">Edit profile </h3> -->
                  </div>
                  <div class="col-4 text-right">
                     <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
                  </div>
               </div>
            </div>
            <div class="card-body ">
               <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                     <form class="form" method="POST" id="uploadForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">Import file</h6>
                        <div class="form-group custom-file">
                           {{fileform.file}}
                           <label class="custom-file-label" for="id_file">Select file</label>
                        </div>
                        <!-- </div> -->
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Add frames</h6>
                        {{ formset.management_form }}
                        {% for form in formset %}
                        <div class="row form-row form-group">
                            <div class="col">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="form-group">
                                            {{form.name}}
                                        </div>
                                    </div>
                                   <div class="col-4">
                                      <div class="form-group">
                                         {{form.cyclicity}}
                                      </div>
                                   </div>
                                   <div class="col-3">
                                      <div class="row form-group text-center">
                                         <div class="col-6">
                                            <button class="btn btn-danger remove-form-row hidden"><i class="fa fa-minus"></i></button>
                                         </div>
                                         <div class="col-6">
                                            <button class="btn btn-success add-form-row"><i class="fa fa-plus"></i></button>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                                <div class="row">
                                    <p class="p-2 text-danger hidden" id="id_form-0-error" ></p>
                                </div>  
                            </div>
                        </div>
                        {% endfor %}
                        <!-- </div> -->
                        <div class="row">
                           <div class="col-12" style="text-align: center;">
                                <button type="submit" class="btn btn-primary" href="{% url 'frame_extract' %}" name="excel" id="upload_button" download>Extract</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-sm-2"></div>
               </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-4">
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}

{% block scripts %}
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->
<!-- <script src="{% static 'mysite/js/jquery.min.js' %}"></script> -->
<script src="{% static 'mysite/js/dynamic_form.js' %}"></script>
{% endblock %}