<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    {% block custom_css %}{% endblock %}
    <title>Canoe measurement log file parser</title>
</head>

<body>


    <div class="container d-flex-block ">
        <!-- <div class="row spacer"></div> -->
        <div class="row justify-content-center align-items-center align-content-center">
            <!-- <div class="col-md-6"> -->
                {% block container %}
                {% endblock %}
            <!-- </div> -->
        </div>
    </div>
</body>

</html>
