{% extends "base.html" %}
{% load static %}
{% block locations %}
<li class="breadcrumb-item"><a href="{% url 'tools' %}">Tools</a></li>
<li class="breadcrumb-item active" aria-current="page">Extract frames from log file</li>
{% endblock %}
{% block container %}
<style>
   .hidden {
   display: none;
   }
</style>
<div class="container-fluid mt--6 d-flex-block">
   <div class="row align-items-center">
      <div class="col-xl-12">
         <div class="card">
            <div class="card-header">
               <div class="row align-items-center">
                  <div class="col-8">
                     <!-- <h3 class="mb-0">Edit profile </h3> -->
                  </div>
                  <div class="col-4 text-right">
                     <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
                  </div>
               </div>
            </div>
            <div class="card-body ">
               <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                     <form class="form" method="POST" id="uploadForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">Import file</h6>
                        <div class="form-group custom-file">
                           {{fileform.file}}
                           <label class="custom-file-label" for="id_file">Select file</label>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Some little settings</h6>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="input-city">Allow floating point numbers</label>
                              <label class="custom-toggle">
                                {{form.floating_point_numbers}}
                                <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="input-country">Allow bit fields in structs</label>
                              <label class="custom-toggle">
                                {{form.bit_fields}}
                                <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="input-country">Allow fuzzer generate</label>
                              <label class="custom-toggle">
                                {{form.generate_fuzzer}}
                                <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                              </label>
                            </div>
                          </div>
                        </div>



                        <div class="row">
                           <div class="col-12" style="text-align: center;">
                                <button type="submit" class="btn btn-primary" href="{% url 'frame_extract' %}" name="excel" id="upload_button" download>Generate</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-sm-2"></div>
               </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-4">
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}